$brand-primary				: #bc9355;
$text-color					: #b2b2b2;
$title-color				: #f3f3f3;
$headings-color				: #f3f3f3;

$white						: #fff;
$light-grey					: #f7f7f7;
$black						: #000;



$headings-font-family		: 'Playfair Display', serif;
$text-font-family			: 'Open Sans', sans-serif;
$fontawesome				: 'FontAwesome';


$navbar-link-color			: $white;
$navbar-hover-color			: $white;
$navbar-hover-bg			: transparent;
$navbar-active-color		: $white;
$navbar-active-bg			: transparent;

$hover-line-color			: $brand-primary;
$active-line-color			: $hover-line-color;

$dropdown-wrap-color		: $black;
$dropdown-link-color		: $white;

$dropdown-hover-color		: $white;
$dropdown-hover-bg			: $brand-primary;

$dropdown-active-color		: $brand-primary;
$dropdown-active-bg			: $brand-primary;

$navbar-toggle-bg			: $brand-primary;
$navbar-toggle-line-color	: $black;